/*CSS styling page for the Entry Form and the confirmation form*/
.headertitle{
position:relative;
margin:auto;
width: 13%;
}

.contentbox {
position:relative;
            border-radius : 2em;
            border: 0.2em solid #369;
            padding : 1.0em;
            width: 50%;
margin:auto;
}
.error {
color: red;
}
input[type=text].bad {
border: 2px solid red;
}

input[type=text].good {
border: 2px solid green;
}

.hide {
	display: none;
}
